Source: devflow
Section: python
Priority: optional
Maintainer: Nikos Skalkotos <skalkoto@grnet.gr>
Build-Depends: debhelper (>= 8), python-all (>= 2.5), dh-python
Standards-Version: 3.9.6
X-Python-Version: >= 2.6
Homepage: https://github.com/grnet/devflow

Package: devflow
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-git (>= 0.3.2~RC1)
Recommends: git-buildpackage
Description: set of tools to ease versioning and use of git flow
 devflow is a set of Python tools to manage versions, help implement the git
 flow development process, and build Python and Debian packages.
